{
    "repositories": [
        {
            "type": "path",
            "url": "../amana_shared",
            "options": {
                "symlink": true
            }
        }
    ],
    "require": {
        "amana/shared": "@dev"
    }
}
