parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Models\\Personne\:\:\$date_debut_planning \(Carbon\\Carbon\|null\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Console/Commands/ResetAdminPassword.php

		-
			message: '#^Property App\\Models\\Personne\:\:\$date_debut_planning \(Carbon\\Carbon\|null\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Http/Controllers/Admin/CandidaturesController.php
